@media screen and (min-width: 1500px) and (max-width: 2800px) {

    h1{
        margin: 0;
        padding: 0;
        font-size: 3.5vi;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        margin-top: 20px;
        margin-left: 50px;
    }
    
    body{
        overflow-x: hidden;
    }
    .middleSection2{
        padding-top: 200px;
        width: 50vw;
        height: 500px;
        display: flex;
        margin-left: 50px;
        gap: 100px;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
    }
    
    .techStack{
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 0.6vi;
        & ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            margin: 0;
        }
    }
    
    
    .projectDescription p {
        width: 350px;
        font-size: 0.9vi;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-weight: 460;
    }
    
    .date{
        width: 200px;
        position: relative;
        right: 50px;
        font-size: 0.6vi;
        font-weight: 500;
    }
    
    
    .firstImage2{
        position: absolute;
        width: 25vw;
        height: 30vh;
        background-image: url(./assets/ElliotsIsland.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        right: 15% ;
        top: 20%;
    }
    
    .secondImage2{
        position:absolute;
        width: 10vw;
        height: 30vh;
        background-image: url(./assets/insideHouse.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 10%;
        left: 16%;
    }
    
    .thirdImage2{
        position:absolute;
        width: 15vw;
        height: 20vh;
        background-image: url(./assets/firstSite.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 15%;
        left: 40%;
    }
    
    
    .fourthImage2{
        position:absolute;
        width: 10vw;
        height: 15vh;
        background-image: url(./assets/contactPage.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 15%;
        left: 80%;
    }
}


@media screen and (max-width: 1499px){

    h1{
        margin: 0;
        padding: 0;
        font-size: 3.5vi;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        margin-top: 20px;
        margin-left: 50px;
    }
    
    body{
        overflow-x: hidden;
    }
    .middleSection2{
        padding-top: 100px;
        width: 50vw;
        height: 500px;
        display: flex;
        margin-left: 50px;
        gap: 100px;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
    }
    
    .techStack{
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 0.7vi;
        & ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            margin: 0;
        }
    }
    
    
    .projectDescription p {
        width: 200px;
        font-size: 1.2vi;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-weight: 460;
    }
    
    .date{
        width: 200px;
        position: relative;
        right: 50px;
        font-size: 0.7vi;
        font-weight: 500;
    }
    
    
    .firstImage{
        position: absolute;
        width: 20vw;
        height: 20vh;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        right: 15% ;
        top: 20%;
    }
    
    .secondImage{
        position:absolute;
        width: 10vw;
        height: 20vh;
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 10%;
        left: 16%;
    }
    
    .thirdImage{
        position:absolute;
        width: 15vw;
        height: 15vh;
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 15%;
        left: 40%;
    }
    
    
    .fourthImage{
        position:absolute;
        width: 10vw;
        height: 15vh;
     
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 15%;
        left: 80%;
    }

}